:root{

  background-color: coral;
}


.App {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 3em;
  color: #fff;
  text-shadow: 4px 4px black;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  height: 20px;
  padding: 5px;
  font-size: 1.5em;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
}

.form-button {
  border: 3px solid black;
  font-size: 1.5em;
  font-weight: 700;
  padding: 7px;
  margin: 10px;
  cursor: pointer;
}
.form-button:hover{
  transition: 0.3s;
  opacity: 0.6;
}

.completed {
  text-decoration: line-through;
}

.todo-container{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.todo-list{
  display: grid;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.todo-items{
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  margin: 10px;
  background: white;
  font-size: 2rem;
  border: 2px solid black;

}

.todo-item{
  align-self: center;
  padding: 10px;
}

.todo-buttons{
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  background: #fff;
  margin: 3px;
}
  .todo-buttons:hover{
    transition: 0.3s;
    opacity: 0.7;
  }


