.App {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 3em;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  height: 20px;
  padding: 5px;
  font-size: 1.5em;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
}

.form-button {
  border: 3px solid black;
  font-size: 1.5em;
  font-weight: 700;
  padding: 7px;
  margin: 10px;
}

.completed {
  text-decoration: line-through;
}

.todo-container{
  background-color: coral;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.todo-list{
  display: grid;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.todo-items{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  background: white;
  font-size: 2rem;
}

.todo-item{
  align-self: center;
  padding: 10px;
}

.todo-buttons{
  padding: 10px 20px;
  font-size: 1.5rem;
}


